*{
	margin: 0;
	padding:  0;
	border: 0;
}
body{
	font-family: 'Amatic SC', cursive;
}
nav{
	width: 250px;
	margin: 10px auto;
	background-color: #3faf4c;
	padding: 3px 3px 3px 10px ;
}
nav ul.menu li{
	list-style: none;
	padding: 8px 0px 8px 0px;
	border-bottom: 1px solid #ccc;
	position: relative;
}
nav ul.menu li a{
	text-decoration: none;
	font-size: 30px;

}
nav ul.menu li:last-child{
	border: none;
}
nav ul.menu li:hover{
	background-color: black;
	
	cursor: pointer;
}
nav ul.menu li:hover >a{
	color: white;
}
/* begin dropdown */
/* an menu dropdown */
nav ul.menu li ul.dropdown{
	display: none;
	width: 250px;
	background-color:  #3faf4c;
	position: absolute;
	left: 250px;
	top: 0px;
	padding: 10px;
}
/* hien thi menu dropdown khi hover vao cac li */
nav ul.menu li:hover > ul.dropdown {
	display: block;
}
